<h1 style="text-align: center; font-size: 100px;">ELECTRIC ROUTE</h1>

<div class="container">
    <div class="row">
          <div class="col-1"></div>
          <div class="col-10">
            <ul *ngFor="let guitar of guitars">
              <li id="guitarCard">
        
                <img src="{{guitar.img}}">
                <h6>
                  <p>{{guitar.brand}} </p>
                  <p>Guitar model: {{guitar.model}} </p>
                  <p>Guitar type: {{guitar.type}} </p>
                  <p>Has case: {{guitar.hasCase}} </p>
                  <p>Number of strings: {{guitar.noOfStrings}} </p>
                  <p>Color: {{guitar.color}} </p>
                  <p>Price: {{guitar.price}} <span>&euro;</span> </p>
                </h6>
              </li>
              <hr>
            </ul>
          </div>
          <div class="col-3"></div>
    </div>
  </div>