<div class="container">
    <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <address> address: 55 5TH AVENUE NEW YORK CITY </address>
        <p>tel :  555 67 81 965</p>
        <p>web : localhost:4200</p>
        <p>email : office@dynastring.com</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2854.520960512326!2d23.81591171551947!3d44.31979767910409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4752d70671a8c2f1%3A0x11840b98571fbbf4!2sStrada%20Dezrobirii%2085%2C%20Craiova!5e0!3m2!1sen!2sro!4v1613220246043!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        
    </div>
    <div class="col-4"></div>
</div>
</div>
