#guitarCard img {
  padding-top: 50px;
  max-width: 500px;
}

#guitarCard>h3 {
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}
hr{
  border: rgb(76, 78, 50) 1px solid;
}
li{
  padding: 20px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
}
li:hover{
  background-color:rgb(162, 167, 155);
  border-radius: 20px;
  
  
  
  
}
.text_position{
  display: flex;
  justify-content: center;
}


body>div.container>div>div.col-lg-10>ul {
  display: flex;

  justify-content: center;
}

.sortButtons {
  display: flex;
  justify-content: center;

}

.sortButtons>button {

  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
  background-color: rgb(79, 83, 70);
  color: white;
  border-radius: 5px;

}

li a{
  color:  rgb(79, 83, 70);
  
}
li a:hover{
  color: aliceblue;
  text-decoration: none;
}
.sort_options{
  margin: auto; 
  width: 30%; 
  border-radius: 15px; 
  border: 3px solid rgb(79, 83, 70); 
  padding: 10px;
  display: flex;
  justify-content: center;

}

.sort_options div{
  margin: 20px;
}

@media only screen and (max-width: 376px) {

.guitarCard{
  width: auto;
  
}

 div.col-lg-10.col-xs-12.guitarCard > div{
   text-align: center;
 }

.guitarCard img{
  width:300px;
}
.sort_options {
  margin:auto;
  width: 300px;
}


}

