

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <h2 style="display: flex; justify-content: center;">Sort guitars</h2>
<!-- 
  dropdown -->

<div style=" margin: auto; width: 30%; border-radius: 15px; border: 3px solid rgb(79, 83, 70); padding: 10px;">
  <h6>Sort by Color</h6>
    <select [(ngModel)]="selectedGuitar" (ngModelChange) = 'onGuitarSelected($event)'>
      <option *ngFor="let color of colors">
        {{color}}
      </option>
    </select>
</div>



<div class="sortButtons">
  <button (click) = "sortByPrice()">Sort Guitars by <span>PRICE</span></button>
  <button (click) = "sortById()">Sort Guitars by <span>ID</span></button>
  <button (click) = "filterByTypeBass()">Filter Guitars by <span>TYPE bass</span></button>
  <!-- <button (click) = "filterByColorBlacks()">Filter Guitars by <span>color black</span></button> -->
  <button (click) = "resetFilter()">Reset Filters</button>
</div>

<div class="container">
  <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <ul *ngFor="let guitar of guitars">
            <li id="guitarCard">
              <a routerLink="/details/{{guitar.db_key}}">
              
      
              <img src="{{guitar.img}}">
              <h6>
                <p>{{guitar.brand}} </p>
                <p>guitar model {{guitar.model}} </p>
                <p>guitar type {{guitar.type}} </p>
                <p>has case{{guitar.hasCase}} </p>
                <p>number of strings {{guitar.noOfStrings}} </p>
                <p>color {{guitar.color}} </p>
                <p>price {{guitar.price}} <span>&euro;</span> {{guitar.priceRON}} RON </p>
              </h6>
            </a>
            </li>
          </ul> 
        </div>
        <div class="col-3"></div>
  </div>
</div>

  <div>
    
  </div>


</body>

</html>
