<div class="container">
  <div class="row" style="margin-bottom: 30px;">
    <div class="col-4 centerAlign">

      <img [src]="silhouette1" id="silhouette1" alt="">
    </div>
    <div class="col-4">
      <div class="row moreText">
        <h3>We are honored to present you some of the artists who had choosen Ibanez as their form of expression</h3>
      </div>
    </div>
    <div class="col-4 centerAlign">
      <img [src]="silhouette1" id="silhouette1" class="flipped leftAlign" alt="">
    </div>
    <h3 class="bigNoDspl">We are honored to present you some of the artists who had choosen Ibanez as their form of expression</h3>

  </div>

  <!-- guitarist 1st row -->


  <div class="row " style="margin-bottom: 30px;">
    <div class="col-lg-3  col-xs-6 align" >
      <div style="display: block;">
        <h4>Steve Vai</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Steve_Vai" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="steveVai" id="steveVai" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3  col-xs-6  align">
      <div style="display: block;">
        <h4>Joe Satriani</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Joe_Satriani" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="joeSatriani" id="joeSatriani" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3 col-xs-6 align">
      <div style="display: block;">
        <h4>Kiko Loureiro</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Kiko_Loureiro" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="kikoLoureiro" id="kikoLoureiro" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3 col-xs-6 align">
      <div style="display: block;">
        <h4>John Petrucci</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/John_Petrucci" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="johnPetrucci" id="johnPetrucci" class="guitaristImg" alt="">

    </div>
  </div>

  <!-- guitarist 2nd row -->
  <div class="row">
    <div class="col-lg-3 col-xs-6  align">
      <div style="display: block;">
        <h4>Tosin Abasi</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Tosin_Abasi" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="tosinAbasi" id="tosinAbasi" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3 col-xs-6 align">
      <div style="display: block;">
        <h4>Paul Gilbert</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Paul_Gilbert" class="moreText">more...</a></blockquote>
        </h6>
      </div>

      <img [src]="paulGilbert" id="paulGilbert" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3 col-xs-6 align">
      <div style="display: block;">
        <h4>Nita Strauss</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Nita_Strauss" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="nitaStrauss" id="nitaStrauss" class="guitaristImg" alt="">
    </div>
    <div class="col-lg-3 col-xs-6 align">
      <div style="display: block;">
        <h4>Marty Friedman</h4>
        <h6>
          <blockquote><a href="https://en.wikipedia.org/wiki/Marty_Friedman" class="moreText">more...</a></blockquote>
        </h6>
      </div>
      <img [src]="martyFriedman" id="martyFriedman" class="guitaristImg" alt="">
    </div>
  </div>

  <div class="row" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="col-4 centerAlign">

      <img [src]="silhouette1" id="silhouette1" alt="">
    </div>
    <div class="col-4">
 
      <!-- quotes -->

      <div class="row moreText">
        <h3  style="text-align: center;">Here's some of the most intersting quotes of the Ibanez artists</h3>
      </div>
    </div>
    <div class="col-4 centerAlign">
      <img [src]="silhouette1" id="silhouette1" class="flipped leftAlign" alt="">
    </div>
  </div>
  <div class="row align">
    <div class="align">
      <q>Besides being a guitar player, I'm a big fan of the guitar. I love that damn instrument.</q><span>Steve
        Vai</span>
    </div>
    <div class="align">
      <q>People should stop wasting time on exercises; you might think early on they help with getting used to moving
        fingers</q><span>Marty Friedman</span>
    </div>
    <div class="align">
      <q>I'll tell you one thing: I will always play the sh** out of my guitar.</q><span>Joe Satriani</span>
    </div>
    <div class="align">
      <q>When I think of a lot of the players I admire, they could always play their parts without hiding behind
        distortion and sustain.</q><span>John Petrucci</span>
    </div>
    <div class="align">
      <q>The experience of being born into a loving household or a stressed and abusive one would actually affect how my
        brain matured </q><span>Paul Gilbert</span>
    </div>
    <div class="align">
      <q>Obviously the best way to retain the most profit is to not give any of it away.</q> <span>John Petrucci</span>
    </div>
    <div class="align">
      <q>In the physical universe, there are objects that include suns, planets, all life, and all matter in all
        dimensions....</q><span>Steve Vai</span>
    </div>








  </div>

  <div class="row centerAlign" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="col-4 centerAlign">

      <img [src]="silhouette1" id="silhouette1" alt="">
    </div>
    <div class="col-4 centerAlign">
      <div class="row moreText">
        <h3 style="text-align: center;">Music exhibitions where Ibanez will be present</h3>
      </div>
    </div>
    <div class="col-4 centerAlign">
      <img [src]="silhouette1" id="silhouette1" class="flipped leftAlign" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 align" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      <h6>Musikmesse Frankfurt 26 feb 2021</h6>
    </div>
    <div class="col-lg-4  align" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      <h6>NAMM NYC 12 apr 2021</h6>
    </div>
    <div class="col-lg-4  align" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      <h6>Palm New Dehli 3 jun 2021</h6>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-4 col-xs-12 exibImgWrapper">

      <img [src]="musikmesse" id="musikmesse" class="exhibImg" alt="">
    </div>
    <div class="col-lg-4 col-xs-12 exibImgWrapper">

      <img [src]="namm" id="namm" class="exhibImg" alt="">
    </div>
    <div class="col-lg-4 col-xs-12 exibImgWrapper">

      <img [src]="palm" id="palm" class="exhibImg" alt="">
    </div>
  </div>
  <div class="row centerAlign" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="col-4 centerAlign">

      <img [src]="silhouette1" id="silhouette1" alt="">
    </div>
    <div class="col-4 centerAlign">
      <div class="row moreText">
        <h3 style="text-align: center;">Must visit our TOP 10 dealers!</h3>
      </div>
    </div>
    <div class="col-4 centerAlign">
      <img [src]="silhouette1" id="silhouette1" class="flipped leftAlign" alt="">
    </div>
  </div>
  <div class="row centerAlign" >
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Bailey Brothers Music (AIMM)</h6>
        <address>ADDRESS : 4673 Highway 280 East, Birmingham, AL 35242</address>
        <h6>PHONE : 205-271-7827</h6>
        <h6>WEB : http://WWW.BAILEYBROTHERS.COM</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Fret Shop, The</h6>
        <address>ADDRESS : 309 Jordan Ln, Huntsville, AL 35805</address>
        <h6>PHONE : 256-430-4729</h6>
        <h6>WEB : http://WWW.THEFRETSHOP.COM</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>American Guitar Boutique</h6>
        <address>ADDRESS : 707 13th St, Phenix City, AL 36867</address>
        <h6>PHONE : 334-560-5202</h6>
        <h6>WEB : http://WWW.AMERICANGUITARBOUTIQUE.COM/</h6>
      </div>
    </div>
    
  </div>
  <div class="row centerAlign" style="margin-top: 20px;">
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Music Mart & Studios Inc</h6>
        <address>ADDRESS : 413 Noble St, Fairbanks, AK 99701-4988</address>
        <h6>PHONE : 907-452-4500</h6>
        <h6>WEB : http://WWW.MUSICMARTSPECIALS.COM</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Allegro Music</h6>
        <address>ADDRESS : 8385 Deer Valley Rd, Peoria , AZ 85382</address>
        <h6>PHONE : 602-795-4516</h6>
        <h6>WEB : https://www.allegromusicaz.com/</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Music & Arts Center</h6>
        <address>ADDRESS : 30 West Main Street , Riverhead, NY 11901</address>
        <h6>PHONE : 631-255-8966</h6>
        <h6>WEB : http://WWW.MUSICARTS.COM</h6>
      </div>
    </div>
    
  </div>
  <div class="row centerAlign" style="margin-top: 20px;">
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Castellano's Hse of Music</h6>
        <address>ADDRESS : 4016 Hylan Blvd, Staten Island, NY 10308</address>
        <h6>PHONE : 907-452-4500</h6>
        <h6>WEB : http://WWW.CASTELLANOSHOUSEOFMUSIC.COM/</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Allegro Music</h6>
        <address>ADDRESS : 8385 Deer Valley Rd, Peoria , AZ 85382</address>
        <h6>PHONE : 718-605-2008</h6>
        <h6>WEB : https://ish.guitars/</h6>
      </div>
    </div>
  </div>
  <div class="row centerAlign" style="margin-top: 20px;">
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>Dr. Guitar Music</h6>
        <address>ADDRESS : 154 Court St, Watertown, NY 13601</address>
        <h6>PHONE : 315-778-5995</h6>
        <h6>WEB : http://WWW.DRGUITARMUSIC.COM/</h6>
      </div>
    </div>
    <div class="dealerWrapper">
      <div style="padding: 20px;">
        <h6>THE GUITAR FACTORY</h6>
        <address>ADDRESS : 15455 WEBSTER RD, ORCHARD PARK, NY 14127</address>
        <h6>PHONE : 716-675-7815</h6>
        <h6>WEB : http://WWW.THEGUITARFACTORY.COM

        </h6>
      </div>
    </div>
  </div>

  <div class="row centerAlign" style="margin-bottom: 30px; margin-top: 30px;">
    <div class="col-4 centerAlign">

      <img [src]="silhouette1" id="silhouette1" alt="">
    </div>
    <div class="col-4 centerAlign">
      <div class="row moreText">
        <h3 style="text-align: center;">Meet us on social media</h3>
      </div>
    </div>
    <div class="col-4 centerAlign">
      <img [src]="silhouette1" id="silhouette1" class="flipped leftAlign" alt="">
    </div>
  </div>


</div>
