
<div *ngIf='guitar'>
<div class="container" >
    <div class="row">
        <div class="col-lg-9 col-xs-12" >
           
            
                   
                       <!-- {{guitar.brand}} -->
                       
                           <img src='{{guitar.img}}'  >

                   
                
           
        </div>
        <div class="col-lg-3  col-xs-12 detailsInfo">
            <h6>
                <p>{{guitar.brand}} </p>
                <p>Model: {{guitar.model}} </p>
                <p>Guitar type: {{guitar.type}} </p>

                <p *ngIf="guitar.hasCase" >Has case: Yes </p>
                <p *ngIf="!guitar.hasCase" >Has case: No </p>
                <p>No of strings: {{guitar.noOfStrings}} </p>
                <p>Color: {{guitar.color}} </p>
                <p>Price: {{guitar.price}} <span>&euro;</span> {{guitar.priceRON}} RON </p>
              </h6>
        </div>
    </div>
</div>
</div>